{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introSummary %}
<div class="[ md:box-flex space-between align-center ]">
  <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-300 pad-bottom-300 text-500 ] [ sf-flow ] [ e-content ]">
    <img src="/images/dessin.jpg" alt="Dessin" style="height:875px !important; width:auto !important;">
  </div>
  <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-300 pad-bottom-300 text-500 ] [ sf-flow ] [ e-content ]">
    <p>La Fenestrelle est une petite ferme maraîchère agroécologique labellisée AB,  située à Aubagne, au lieu dit Campagne Lambert.</p>
    <p>Depuis avril 2024, on y cultive des fruits et des légumes avec une attention particulière portée à la vie du sol.</p>
    <p>Concrètement, on travaille sans pesticide et on limite au maximum les actions qui perturberaient les bêtes du sol — qui sont les seules à garantir sa pérennité.</p>
  </div>
</div>
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}
